code {
  background-color: lightblue;
}

body {
  margin: 2em 3em 3em 5em;
  background-color: #f8eed2;
  background-image: url(http://www.transparenttextures.com/patterns/beige-paper.png);
  font-family: 'Cormorant Garamond', 'Noto Serif TC', serif;
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
  font-size: 1.5em;
}

p {
  text-indent: 1em;
}

.chinois {
  font-family: 'AR PL KaiTiM Big5', 'AR PL KaiTiM GB', 'AR PL UKai TW', 'AR PL UKai CN', 'SimKai', 'KaiTi', 'STKaiti', 'Kai', 'BiauKai', 'FZNewKai', 'TW-Kai', 'Free HK Kai', serif;
}
